http://:8345 {
	root * /www
	encode zstd gzip
	file_server

	@room {
		path_regexp ^/\b[a-z]{5}\b$
	}

	reverse_proxy /api/* 192.168.0.226
	reverse_proxy /socket.io/* 192.168.0.226

	handle @room {
		rewrite * /
	}
}
