http://:8345 {
	root * /www
	encode zstd gzip
	file_server

	@room {
		path_regexp ^/\b[a-z]{5}\b$
	}

	reverse_proxy /api/* p2piano-server.home
	reverse_proxy /socket.io/* p2piano-server.home

	handle @room {
		rewrite * /
	}
}
